<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Add Answer Option</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
	<div class="container">
		<h1>Add Answer Option</h1>
		<br />
		<h5 th:text="${{question.questionText}}"></h5>
		<br />
		<div>
			<form th:object="${answerOption}" th:action="@{saveansweroption}"
				method="post">
				<select id="question"
						th:field="*{question}" class="form-control">
						<option th:each="question: ${question}"
							th:value="${question.id}" th:text="${question.id}"></option>
					</select>
				<input type="text" th:field="*{question}" th:value="${{question.id}}"></input>
				<div class="form-group">
					<label for="answerOptionText">Answer Option</label> <input type="text" id="answerOptionText"
						th:field="*{answerOptionText}" class="form-control">
				</div>
				<div>
					<br />
					<a th:href="@{/query/{id}/listquestions(id=${id})}" class="btn btn-danger">Cancel</a>
					<input type="submit" value="Save" class="btn btn-success"></input>
				</div>
			</form>
		</div>
	</div>
</body>