<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Add Query</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
	<div class="container">
		<h1>Add a Question</h1>
		<div>
			<form th:object="${question}" th:action="@{savequestion}"
				method="post">
				<div class="form-group">
					<label for="question">Question</label> <input type="text"
						id="question" th:field="${question.question}" class="form-control">
				</div>
				<div>
					<br /> <input type="submit" value="Save" class="btn btn-success"></input>
				</div>
			</form>
		</div>
	</div>
</body>