<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Add Question</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
	<div class="container">
		<h1>Add a Question</h1>
		<br />
		<h4 th:text="${query.title}"></h4>
		<br />
		<div>
			<form th:object="${question}" th:action="@{savequestion}"
				method="post">
				<input type="hidden" th:field="*{id}">
				<div class="form-group">
					<label for="questionText">Question</label> <input type="text" id="questionText"
						th:field="*{questionText}" class="form-control">
				</div>
				<div>
					<br />
					<a th:href="@{/query/{id}/listquestions(id=${query.id})}" class="btn btn-danger">Cancel</a>
					<input type="submit" value="Save" class="btn btn-success"></input>
				</div>
			</form>
		</div>
	</div>
</body>