<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
	<div class="container">
		<h1>Queries</h1>
		<br />
		<p>
			<a href="/addquery" class="btn btn-success">New Query</a>
		</p>
		<table class="table table-striped">
			<tr>
				<th>ID</th>
				<th>Query</th>
				<th>Description</th>
				<th>Add a Question</th>
				<th>Amount</th>
			</tr>
			<tr th:each="query : ${queries}">
				<td th:text="${query.id}"></td>
				<td th:text="${query.title}"></td>
				<td th:text="${query.description}"></td>
				<td><a th:href="@{query/{id}/addquestion(id=${query.id})}" class="btn btn-primary">Add</a></td>
				<td th:text="${query.questions.size}"></td>
			</tr>
		</table>
	</div>
</body>

</html>