<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
	<div class="container">
		<h1 th:text="'Questions'">Questions</h1>
		<br />
		<h4 th:text="${query.title}"></h4>
		<br />
		<p>
			<a th:href="@{/index}" class="btn btn-primary">Queries</a>
			<a href="addquestion" class="btn btn-success">New Question</a>
		</p>
		<table class="table table-striped">
			<tr>
				<th>ID</th>
				<th colspan="2">Question</th>
			</tr>
			<tr th:each="question : ${questions}">
				<td th:text="${question.id}"></td>
				<td th:text="${question.questionText}"></td>
				<td><a th:href="@{deletequestion/{id}(id=${question.id})}" class="btn btn-danger" th:text="'Delete'"></a></td>
			</tr>
		</table>
	</div>
</body>

</html>